<div>    
    <form>
        <div data-ng-repeat="timeZone in ctrl.timeZones">
            <label>
                <input type="radio" name="timezone" ng-model="ctrl.selected" ng-value="timeZone">
                <span data-ng-bind="timeZone.name"></span>
            </label>
        </div>
    </form>
    <div class="row" style="padding-top: 10px;">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary pull-right" data-ng-click="ctrl.isCollapsed = !ctrl.isCollapsed">Show model</button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;" uib-collapse="ctrl.isCollapsed">
        <div class="col-sm-12">
            <pre>Model: {{ctrl.selected | json}}</pre>
        </div>
    </div>
</div>