<div>
    <input  type="text" 
            app-select-on-focus
            uib-typeahead="country as country.name for country in ctrl.countries | filter:{name: $viewValue} | limitTo:8"
            ng-model="ctrl.current" 
            ng-model-options="ctrl.options" 
            typeahead-select-on-exact="true" 
            typeahead-on-select="ctrl.exact($item, $model, $label, $event)"
            class="form-control">
    <div class="row" style="padding-top: 10px;">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary pull-right" data-ng-click="ctrl.isCollapsed = !ctrl.isCollapsed">Show model</button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;" uib-collapse="ctrl.isCollapsed">
            <div class="col-sm-12">
                <pre>Model: {{ctrl.selected | json}}</pre>
            </div>
    </div>
</div>