<!-- LANGUAGE FILTER COMPONENT: BEGIN -->
<div class="checkbox" style="border-bottom: solid 1px #ddd; padding-bottom: 4px;">
    <label>
        <input type="checkbox" data-ng-model="ctrl.checked" data-ng-click="ctrl.onClicked()" data-ng-attr-indeterminate="{{ ctrl.checkboxGroup.indeterminate$ | async }}">
        <span style="font-weight: bold;">Language</span>
    </label>
</div>
<app-view-population-filter-language-checkbox language="'nl'" language-name="'Dutch'" app-filter-criterion="nl"></app-view-population-filter-language-checkbox>
<app-view-population-filter-language-checkbox language="'fr'" language-name="'French'" app-filter-criterion="fr"></app-view-population-filter-language-checkbox>
<!-- LANGUAGE FILTER COMPONENT: END -->