<!-- POPULATION VIEW: BEGIN -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            <div class="panel panel-default" app-filter-scope="population">
                <div class="panel-heading panel-default__heading">Filter</div>
                <div class="panel-body">
                    <app-view-population-filter></app-view-population-filter>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POPULATION VIEW: END -->
